{% extends 'appfp/layout.html' %}
{% block title %}Добро пожаловать{% endblock %}
{% block content %}
    <h1>Добро пожаловать!</h1>
    <h2>Здесь вы познакомитесь с основами объектно-ориентированного программирования (ООП) и выполните несколько практических заданий.</h2>
    <h2>Что же такое ООП?</h2>
    <h3>ООП — это часть программирования, в которой основными строительными блоками являются объекты. Объекты объединяют данные (состояние) и методы (поведение), которые работают с этими данными, в единое целое.</h3>
    <h3>Простыми словами: ООП позволяет моделировать реальный мир в коде, представляя сущности как «объекты» с характеристиками (данными) и поведением (функциями).</h3>
    <h3>ООП включает в себя классы, то есть шаблоны для создания объектов, объекты, то есть конкретные экземпляры классов, свойства, то есть данные, которые принадлежат объекту, и методы, то есть действия объектов.</h3>
    <h2>Содержание</h2>
    <ol>
        <li><a href="{% url 'page1' %}">Функции и методы</a></li>
        <li><a href="{% url 'page2' %}">Создание классов и объектов</a></li>
        <li><a href="{% url 'page3' %}">Принципы ООП. Абстракция</a></li>
        <li><a href="{% url 'page4' %}">Принципы ООП. Инкапсуляция</a></li>
        <li><a href="{% url 'page5' %}">Принципы ООП. Наследование</a></li>
        <li><a href="{% url 'page6' %}">Принципы ООП. Полиморфизм</a></li>
    </ol>
    <h3>После нажатия на кнопку "далее" вы перейдёте на страницу с текстом и практическим заданием.</h3>
    <a href="page1" class="central"><button>Далее</button></a>
{% endblock %}