{% extends 'appfp/layout.html' %}
{% block title %}Создание классов и объектов. Работа с ними.{% endblock %}
{% block content %}
    <a href="{% url 'index' %}">На главную</a>
    <h1>Создание классов и объектов</h1>
    <h2>Создание классов</h2>
    <h3>Класс - это создаваемый разработчиком тип данных. Создавая класс, мы создаём свой тип данных и получаем возможность создавать объекты принадлежащие к данному классу.</h3>
    <h3>В языке python класс создаётся при помощи ключевого слова class, после которого через пробел идёт само название класса. На следующей строке уже в самом классе идёт метод init который задаёт поля (атрибуты класса). Поля, задаваемые вместе с созданием класса определяются при помощи слова self (self.*название поля* = *название поля*). Пример:</h3>
    <h3>По-простому, класс - это шаблон для создания вещей по данному шаблону.</h3>
    <div>
        <pre>class Example:</pre>
        <pre>    def __init__(self, field1, field2):</pre>
        <pre>        self.field1 = field1</pre>
        <pre>        self.field2 = field2</pre>
        <pre>        self.field3 = 0  # поле со значением по умолчанию</pre>
    </div>
    <h2>Создание и вызов методов класса</h2>
    <h3>Как вы поняли с прошлого урока методы - это действия наших с вами объектов. Тут всё то же самое как с функциями только внутри класса и первый аргумент всегда self (пока что будем использовать только такой). Обычно методы используются для взаимодействия со значениями полей класса.</h3>
    <h3>Пример класса с использованием метода:</h3>
    <div>
        <pre>class Car:</pre>
        <pre>    def __init__(self, name):</pre>
        <pre>        self.name = name</pre>
        <pre>        self.place = [0, 0]</pre>
        <pre></pre>
        <pre>    def drive(self, x, y):</pre>
        <pre>        self.place[0] += x</pre>
        <pre>        self.place[1] += y</pre>
    </div>
    <h3>Данный пример описывает примитивную машину, которая из данных имеет только имя и место (координаты). А также она имеет функцию езды, которая представляет собой изменение местоположения.</h3>
    <h3>Здесь слово self обозначает обращение к объекту класса и к его полю (после точки).</h3>
    <h2>Создание объектов классов</h2>
    <h3>Объект - это конкретный экземпляр класса. То есть вещь которую мы создали. Это вещь в коде, которую мы создали по шаблону(классу). Объект создаётся следующим образом:</h3>
    <div>
        <pre># Создание объекта</pre>
        <pre>my_car = Car("Toyota") # название объекта = класс и поля (в скобках)</pre>
        <pre># Вызов метода объекта</pre>
        <pre>my_car.drive(10, 5)</pre>
        <pre># Доступ к полям объекта</pre>
        <pre>print(my_car.name)  # Вывод: Toyota</pre>
        <pre>print(my_car.place) # Вывод: [10, 5]</pre>
    </div>
    <h3>После создания объекта мы можем работать с его методами и полями, используя точечную нотацию (объект.метод).</h3>
    <h2>Практическое задание</h2>
    <h3>Ваша задача: написать класс с методом и создать объект этого класса</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.field }}
        <button type="submit"><h3>готово</h3></button>
        <h3>{{ error }}</h3>
        {% if error == 'Отличная работа!' %}
            <h2>Молодец! Ты справился(ась)! Нажни "Дальше" чтобы попасть на следующую страницу</h2>
        <a href="{% url 'page3' %}"><button type="button"><h3>Дальше</h3></button></a>
        {% endif %}
    </form>
{% endblock %}