{% extends 'appfp/layout.html' %}
{% block title %}Функции и модули{% endblock %}
{% block content %}
    <a href="{% url 'index' %}">На главную</a>
    <h1>Функции и методы</h1>
    <h2>Понятие функции</h2>
    <h3>Функции - это действия программы и её объектов. Функции могут принимать аргументы - переменные или объекты, с которыми может взаимодействовать функция.</h3>
    <h3>Примеры функций:</h3>
    <div>
        <pre>   print(*аргументы*) - выводит на консоль значение аргумента. Может принимать несколько аргументов.</pre>
        <pre>   sum(*аргумент*) - выводит сумму элементов массива. Может принимать только один аргумент.</pre>
        <pre>   input() - выводит значение(строка), вводимое пользователем с клавиатуры на консоль. Не принимает аргументов.</pre>
        <pre>   str(*арг*), int(*арг*), float(*арг*) - выводят аргумент с изменённым типом данных(зависит от функции). 1 арг.</pre>
    </div>
    <h3>Вы наверное уже заметили, что функция print выводит данные на консоль, а остальные выводят данные непонятно куда. Они выводят данные туда, куда им скажет разработчик. То есть их можно как записать в переменную, так и взаимодействовать с ними при помощи других функций, например вывести данные на консоль при помощи функции print.</h3>
    <h2>Создание функции</h2>
    <h3>Python, как и многие языки программирования предоставляет возможность создавать нам свои функции. Как создавать функции:</h3>
    <div>
        <pre>def *название функции*(*переменная(ые)-аргумент(ы)*):</pre>
        <pre>   *тело функции(код)*</pre>
        <pre>   return *вывод функции(данные)*</pre>
    </div>
    <h3>Пример:</h3>
    <div>
        <pre>def example(arg):</pre>
        <pre>   result = arg+1</pre>
        <pre>   return result</pre>
    </div>
    <h3>Данная функция выводит значение переменной result, которое на 1 больше значения переменной arg, являющейся аргументом.</h3>
    <h2>Вызов функции</h2>
    <h3>Чтобы вызвать функцию, нужно написать её название, а после него в скобках аргумент(ы). В коде это выглядит так</h3>
    <pre>func_name(args)</pre>
    <h2>Понятие метода</h2>
    <h3>Функция, распространяющаяся только на объекты классов или переменные типов данных, называентся методом. Существуют встроенные методы для уже существующих типов данных. Их вызов осуществляется следующим способом:</h3>
    <div>
        <pre>object.method(arg)</pre>
    </div>
    <h3>Сначала идёт объект, а затем через точку метод и в скобках аргумент(ы)</h3>
    <h3>Методы можно создавать только для своих классов. Об их создании поговорим позже.</h3>
    <h3>А теперь практическое задание: попробуем написать функцию и вызвать её.</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.field }}
        <button type="submit"><h3>готово</h3></button>
        <h3>{{ error }}</h3>
        {% if error == 'Отличная работа!' %}
            <h2>Молодец! Ты справился(ась)! Нажни "Дальше" чтобы попасть на следующую страницу</h2>
        <a href="{% url 'page2' %}" class = "central"><button type="button"><h3>Дальше</h3></button></a>
        {% endif %}
    </form>
{% endblock %}