{% extends 'appfp/layout.html' %}
{% block title %}Принципы ООП. Инкапсуляция{% endblock %}
{% block content %}
    <a href="{% url 'index' %}">На главную</a>
    <h1>Инкапсуляция</h1>
    <h2>Что такое инкапсуляция?</h2>
    <h3>Инкапсуляция - это механизм объединения данных (полей) и методов (функций), которые работают с этими данными, в одной единице - классе. Также инкапсуляция включает контроль доступа к данным.</h3>
    <h2>Уровни доступа в Python</h2>
    <h3>Python использует соглашения об именовании для определения уровней доступа:</h3>
    <div>
        <pre>class Example:</pre>
        <pre>    def __init__(self):</pre>
        <pre>        self.public = "Доступно отовсюду"      # публичный атрибут</pre>
        <pre>        self._protected = "Доступно в классе и наследниках"  # защищённый</pre>
        <pre>        self.__private = "Доступно только в классе"  # приватный</pre>
    </div>
    <h3>Как вы наверно поняли, перед именем защизённого атрибута ствится одно "_", а перед приватным две</h3>
    <h2>Пример инкапсуляции</h2>
    <div>
        <pre>class Temperature:</pre>
        <pre>    def __init__(self, celsius):</pre>
        <pre>        self.__celsius = celsius  # приватное поле</pre>
        <pre>    def get_celsius(self):</pre>
        <pre>        return self.__celsius</pre>
        <pre>    def set_celsius(self, value):</pre>
        <pre>        if -273.15 <= value <= 1000:  # проверка корректности</pre>
        <pre>            self.__celsius = value</pre>
        <pre>        else:</pre>
        <pre>            print("Некорректная температура")</pre>
        <pre>    def get_fahrenheit(self):</pre>
        <pre>        return self.__celsius * 9/5 + 32</pre>
    </div>
    <h3>Здесь представлен класс температуры, где мы можем задавать её в цельсиях и выводить в тех же цельсиях или фаренгейтах (метод get_farenheit).</h3>
    <h3>В этом примере поле __celsius инкапсулировано - доступ к нему возможен только через методы get_celsius() и set_celsius(). Это позволяет контролировать корректность данных.</h3>
    <h2>Зачем нужна инкапсуляция?</h2>
    <h3>1. Защита данных от некорректного изменения</h3>
    <h3>2. Сокрытие внутренней реализации</h3>
    <h3>3. Гибкость в изменении реализации</h3>
    <h3>4. Упрощение интерфейса класса</h3>
    <h2>Практическое задание</h2>
    <h3>Создайте класс с приватными/защищёнными атрибутами</h3>
    <form>
        {% csrf_token %}
        {{ form.field }}
        <button type="submit"><h3>готово</h3></button>
        <h3>{{ error }}</h3>
        {% if error == 'Отличная работа!' %}
            <h2>Молодец! Ты справился(ась)! Нажни "Дальше" чтобы попасть на следующую страницу</h2>
        <a href="{% url 'page5' %}"><button type="button"><h3>Дальше</h3></button></a>
        {% endif %}
    </form>
{% endblock %}